/*.categorie{
    background-image: url(/app/ressource/img/angular.png);
    height : 200px;
    background-position: center;
    background-size: cover;
    color : white;

    padding : 10px;

    margin-bottom : 20px;
}
*/
/*.catImg{
    background-image: url(/app/ressource/img/angular.png);
    background-position: center;
    background-size: cover;
    width : 100%;
    height : 250px;
}*/
.categorie{
    margin : 5px;
    margin-bottom : 30px;
    cursor : pointer;
}
.catImg{
    background-image: url(/app/ressource/img/angular.png);
    background-position: center;
    background-size: cover;
    width : 100%;
    height : 250px;
}
.catImg .caption{
    color : white;
    padding-top: 30px;
}

.catImg .caption h3{
    color : white;
    font-size: 45px;
}

.catImg .caption p{
    color : white;
    font-size: 18px;
}