<nav class="navbar" [class.top]="navIsTop">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Portail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
            <li><a href="#about">Ma page</a></li>
            <li class="dropdown" dropdown>
                <a dropdownToggle>
                Mes projets <span class="caret"></span>
                </a>
                <ul dropdownMenu role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Projet 1</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Projet 2</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Projet 3</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">...</a></li>
                    <!-- <li class="divider dropdown-divider"></li> -->
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Se connecter</a></li>
            <li><a href="#">S'inscrire</a></li>
        </ul>
        </div>
    </div>
</nav>
<div class="logo" [class.logoTop]="navIsTop"></div>
<div class="block-init" [class.block]="navIsTop"></div>