<!--<div (click)="selectCategorie()" class="panel panel-default">
  <div class="panel-heading">
    <h3>{{this.categorie.titre}}</h3>
  </div>
  <div class="panel-body">

    <img [src]="'../resources/views/front/app/ressource/images/categories' + this.categorie.id + '.png'" alt="...">
  </div>
</div>
-->
<!-- TEST1
<div class="a">
  <h3 (click)="selectCategorie()" >{{this.categorie.titre}}</h3>
  <p>{{ this.categorie.resume }}</p>
  <div class="b" (click)="selectCategorie()"><a>Tout voir</a></div>
</div>
-->
<div class="a2">
  <h3>{{ categorie.titre }}</h3>
</div>