<div class="mid">
    <div class="mid-full">
        <div class="mid-main">
            <search></search>
            <div *ngIf="hasCategorieSelected()">
                <h2 class="light">{{categorieSelected.titre}}</h2><br>
                <h5 class="detail light">{{ categorieSelected.detail }}</h5>
            </div>
            <div *ngIf="hasInformationSelected()">
                <h2 class="light">{{informationSelected.titre}}</h2><br>
                <h5 class="light detail">{{ informationSelected.resume }}</h5>
            </div>
            <div *ngIf="isHome()">
                <h2 class="light">Portail</h2><br>
                <h5 class="detail light">L'accès au information des SERIA du MEN.</h5>
            </div>
            <div  *ngIf="isLoading()">
                <h2 class="light">  </h2>
                <h5 class="detail light">   </h5>
            </div>
        </div>
    </div>
    
    <file-d-ariane [fileDAriane]="fileDAriane"></file-d-ariane>
    
</div>
<div *ngIf="hasCategories()" class="content container-fluid">
    <div class="row">
        <div *ngFor="let a of this.col; let i = index" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <categorie *ngFor="let categorie of (this.categories | asCol:3:i)" [categorie]="categorie"></categorie>
        </div>
    </div>    
</div>
<div *ngIf="hasInformations()" class="content container-fluid">
    <information *ngFor="let information of this.informations" [information]="information"></information>
</div>
<div *ngIf="hasInformationSelected()" class="content container-fluid">
    {{ this.informationSelected.detail }}
</div>
<div class="container-fluid" *ngIf="!hasInformationSelected() && !hasCategorieSelected() && (!hasInformations() && !hasCategories()) && !isLoading()">
    <div class="alert alert-danger" role="alert">Oups! Cette page n'existe plus.</div>
</div>
<div class="container-fluid" *ngIf="!hasInformations() && !hasCategories() && hasCategorieSelected() && !isLoading()">
    <div class="alert alert-warning" role="alert">Oups! Cette page est vide.</div>
</div>
<div *ngIf="isLoading()" class="content container-fluid"></div>