nav{
    margin-bottom : 0px;
    position : fixed;
    width : 100vw;
    top : 0;
    left : 0;

    z-index: 10;
}
.nav{
    font-size : 17px;
}

.navbar{
    color : white;
    background-color: #1976D2;
    border-radius: 0px;
    box-shadow: rgb(100, 100, 100) 0px 0px 3px 0px;
    
}

a{
    color : white;
}

a:hover{
    color : #64FFDA;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: inherit;
    color : #64FFDA;
}