.box{
    min-height: 171px;
    min-width: 216px;
    margin-bottom: 24px;
}

h6{
    cursor : pointer;
    margin-left: 15px;
}
.a{
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24),0 0 2px rgba(0,0,0,0.12);
    box-sizing: border-box;
    float: left;

    margin-bottom: 24px;
    min-width: 216px;
    
    position: relative;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
    width : 100%;
}

.b{
    bottom: 0;
    border-top: 1px solid #ECEFF1;
    box-sizing: border-box;
    line-height: 48px;
    left: 0;
    padding: 0 16px;
    position: absolute;
    right: 0;
}

table a{
    margin-left : 15px;
}

table{
    margin-bottom: 0px;
}
